@font-face {
    font-family: "line-hant";
    src: url("line-hant.eot"); /* IE9 */
    src: url("line-hant.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("line-hant.woff") format("woff"), /* chrome、firefox */
    url("line-hant.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("line-hant.svg#line-hant") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


