.banner_brush_bubble_title_en,
.banner_brush_bubble_title2_en {
  font-weight: 600 !important;
}
.banner_brush_bubble_title_zh_hans {
  font-weight: 400 !important;
  color: #555 !important;
}
.banner_brush_bubble_title2_zh_hans {
  font-weight:200 !important;
  font-size: 50% !important;
}
.banner_brush_bubble_subtitle_en {
  font-size: 60% !important;
  display: block;
}
.banner_brush_bubble_subtitle2_en {
  font-size: 40% !important;
  display: block;
}
.banner_brush_bubble_subtitle_zh_hans {
  font-size: 80% !important;
}
