.admin-toolbar-fix {
}
.filter-wrapper {
  border-color: #f0e9ff;
  overflow: inherit;
  border-radius: 0 0 5px 5px;
  padding: 0.5em 1em;
}

.filter-wrapper .form-item {
  margin-top: 10px;
}

textarea.form-textarea.form-control,
div.cke_chrome {
  border-radius: 5px 5px 0 0;
}

div.cke_chrome {
  border: 1px solid #f0e9ff;
}

span.cke_top {
  border-bottom: 1px solid #f0e9ff;
}

span.cke_bottom {
  border-top: 1px solid #f0e9ff;
}

.filter-guidelines {
  color: #666;
  padding-left: 20px;
}

.status-message {
  text-align: center;
}

#block-cattask-alpha-local-tasks {
  margin: 1rem 0;
}

.node_type__starting_page #block-cattask-alpha-local-tasks {
  margin: 1rem;
}

.page-content-container {
  min-height: 300px;
  padding-bottom: 2rem;
}


.tb-megamenu-row.row-fluid.row {
  flex-grow: 1;
}
