{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <!-- banner part start-->
  <section class="banner_part">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-xl-6 col-md-6">
          <div class="banner_text">
            <div class="banner_text_iner text-center">
              <h2>{{ content.title|raw }}</h2>
              <h3>{{ content.sub_title|raw }}</h3>
              <a href="{{ content.button_url }}" class="btn_1">{{ content.button_text|raw }}</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">
          <div class="banner_bg">
            <img src="{{ content.bubble_image }}" alt="banner">
          </div>
        </div>
      </div>
    </div>
    <div class="hero-app-1 custom-animation"><img src="{{ base_path ~ directory }}/assets/origin/img/animate_icon/icon_1.png" alt=""></div>
    <div class="hero-app-5 custom-animation2"><img src="{{ base_path ~ directory }}/assets/origin/img/animate_icon/icon_3.png" alt=""></div>
    <div class="hero-app-7 custom-animation3"><img src="{{ base_path ~ directory }}/assets/origin/img/animate_icon/icon_2.png" alt=""></div>
    <div class="hero-app-8 custom-animation"><img src="{{ base_path ~ directory }}/assets/origin/img/animate_icon/icon_4.png" alt=""></div>
  </section>
  <!-- banner part start-->
</div>
