{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
    <div class="button-group-area mt-10">{{ content }}</div>
  {% endif %}
{% endblock %}
