{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass(['single-home-blog']) }}>
  <div class="card">
    <a href="{{ product_url }}">
      {{ product.image }}
      <div class="card-body">
        <h4>{{ product.title }}</h4>
        <p>{{ product.body }}</p>
      </div>
    </a>
  </div>
</article>
