{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.addClass(['project_details padding_top']) }}>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12">
      <div class="project_details_img">
        {{ product.detail_images }}
      </div>
      {#
      <div class="pre_icon float-left">
        <a href="#"><img src="{{ base_path ~ directory }}/assets/origin/img/slim-left.svg" alt=""> {{ 'previous'|t }}</a>
      </div>
      <div class="next_icon float-right">
        <a href="#"> {{ 'next'|t }} <img src="{{ base_path ~ directory }}/assets/origin/img/slim-right.svg" alt=""> </a>
      </div>
      #}
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="project_details_content">
        <h3>{{ product.title }}</h3>
        {{ product.body }}
      </div>
    </div>
  </div>
</article>

{{ product.related_products }}
