{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'customized_services',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="illustration">
    <a href="/">
      <img src="{{ base_path ~ directory }}/assets/origin/img/team_work.svg" alt="">
    </a>
  </div>
  <div class="description">
    <p>{{ 'Can not find your solution?'|t }}</p>
    <p>{{ 'Get <a href="/">customized services</a>.'|t }}</p>
  </div>
</div>
