{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button{{ attributes.addClass(['button rounded-0 primary-bg text-white w-100 btn_4']) }}>{{ element['#value'] }}</button>
{{ children }}
