{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="input-group mb-3">
  <input{{ attributes.removeClass(['form-text']).addClass(['form-control']) }}>
  <div class="input-group-append">
    <button class="btn" type="submit"><i class="ti-search"></i></button>
  </div>
  {{ children }}
</div>
