{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
  'form-control single-input',
  ]
%}
<div class="input-group mb-3">
  <input{{ attributes.addClass(classes)|without('placeholder', 'onfocus', 'onblur') }} placeholder='{{ 'Enter email address'|t }}'
                                                                                       onfocus="this.placeholder = ''"
                                                                                       onblur="this.placeholder = '{{ 'Enter email address'|t }}'">
  <div class="input-group-append">
    <button class="btn" type="button"><i class="ti-email"></i></button>
  </div>
</div>
{#{{ children }}#}
