{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
  'form-control',
  attributes['type'] == 'text' ? 'single-input',
  attributes['type'] == 'submit' ? 'genric-btn primary-border circle'
  ]
%}
<input{{ attributes.addClass(classes) }} />{{ children }}
