{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
<article{{ attributes.addClass(['single-post single-post-area']) }}>

  <div class="feature-img">
    {{ content.field_cover }}
  </div>

  <div class="blog_details">

    {{ title_prefix }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
    {{ title_suffix }}

    {% if display_submitted %}
      <ul{{ author_attributes.addClass(['blog-info-link mt-3 mb-4']) }}>
        <li><a href="#"><i class="far fa-user"></i> {{ author_name }}</a></li>
        <li><a href="#"><i class="far fa-comments"></i> {{ date }}</a></li>
      </ul>
      {{ metadata }}
    {% endif %}

    {{ content.body }}
  </div>
  <div class="navigation-top">
    <div class="d-sm-flex justify-content-between text-center">
      <p class="like-info">
        <span class="align-middle"><i class="fas fa-tags"></i></span>
        {{ content.field_blog_tags }}
      </p>
      {{ content.sharing_buttons }}
    </div>
    <div class="navigation-area">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
          {% if prev_post %}
          <div class="thumb">
            <a href="{{ prev_post.url }}">
              <img class="img-fluid" src="{{ prev_post.cover }}" alt="{{ prev_post.title }}">
            </a>
          </div>
          <div class="arrow">
            <a href="{{ prev_post.url }}">
              <span class="lnr text-white ti-arrow-left"></span>
            </a>
          </div>
          <div class="detials">
            <p>{{ prev_post.label }}</p>
            <a href="{{ prev_post.url }}">
              <h4>{{ prev_post.title }}</h4>
            </a>
          </div>
          {% endif %}
        </div>

        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
          {% if next_post %}
          <div class="detials">
            <p>{{ next_post.label }}</p>
            <a href="{{ next_post.url }}">
              <h4>{{ next_post.title }}</h4>
            </a>
          </div>
          <div class="arrow">
            <a href="{{ next_post.url }}">
              <span class="lnr text-white ti-arrow-right"></span>
            </a>
          </div>
          <div class="thumb">
            <a href="{{ next_post.url }}">
              <img class="img-fluid" src="{{ next_post.cover }}" alt="{{ next_post.title }}">
            </a>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {% if author_profile %}
  <div class="blog-author">
    <div class="media align-items-center">
      <img src="{{ author_profile.picture }}" alt="{{ author_profile.name }}">
      <div class="media-body">
        <a href="{{ author_profile.author_url }}">
          <h4>{{ author_profile.name }}</h4>
        </a>
        <p>{{ author_profile.profile }}</p>
      </div>
    </div>
  </div>
  {% endif %}

  {{ content.field_blog_comments }}
</article>
