{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.featured_top: Items for the featured top region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the sidebar.
 * - page.featured_bottom: Items for the featured bottom.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set header_class = 'nav-header is-mega-menu' %}
{% if is_front %}
  {% set header_class = header_class ~ ' home-header' %}
{% endif %}
{% if is_admin %}
  {% set header_class = header_class ~ ' admin-toolbar-fix' %}
{% endif %}
<!--::header part start::-->
<header class="{{ header_class }}">
  <div class="container">
    <div class="row align-items-center">
      {{ page.header }}
    </div>
  </div>
</header>
<!-- Header part end-->

{{ page.featured_top }}

{{ page.breadcrumb }}

{{ page.highlighted }}

<main role="main">
  <a id="main-content" tabindex="-1"></a>

  {% if page.sidebar %}
    <section class="blog_area section_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="blog_left_sidebar">
              {{ page.content }}
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog_right_sidebar">
              {{ page.sidebar }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    {% if node.bundle == 'starting_page' or is_products_views_page %}
      {{ page.content }}
    {% else %}
      <div class="container page-content-container">
        {{ page.content }}
      </div>
    {% endif %}
  {% endif %}

</main>

<!-- footer part start-->
<footer class="footer-area">
  <div class="container">
    {{ page.featured_bottom }}
  </div>
  <div class="container-fluid">
    {{ page.footer }}
  </div>
</footer>
<!-- footer part end-->
