{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('paragraph_types/chess-row') }}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% if image_position|lower == 'left' %}
  {% set classes = classes|merge(['row-reverse']) %}
{% endif %}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <section class="our_latest_work section_padding">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="section_tittle text-center">
              <p>{{ subtitle }}</p>
              <h2>{{ headline }}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {% for chess_row in chess_rows %}
              <div class="single_work">
                <div class="row align-items-center">
                  {% if chess_row.image_position == 'right' %}
                    <div class="offset-lg-1 col-lg-4 col-md-6">
                      <div class="single_work_demo">
                        <h5>{{ chess_row.subtitle }}</h5>
                        <h3>{{ chess_row.headline }}</h3>
                        <p>{{ chess_row.text }}</p>
                        <a href="{{ chess_row.linked_image.link_url }}" class="btn_3">{{ chess_row.linked_image.link_title }} <span class="flaticon-slim-right"></span> </a>
                      </div>
                    </div>
                    <div class="offset-lg-1 col-lg-6 col-md-6">
                      <div class="demo_img">
                        <img src="{{ chess_row.linked_image.image_url }}" alt="{{ chess_row.linked_image.image_title }}">
                      </div>
                    </div>
                  {% else %}
                    <div class="col-lg-6 col-md-6">
                      <div class="demo_img">
                        <img src="{{ chess_row.linked_image.image_url }}" alt="{{ chess_row.linked_image.image_title }}">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="single_work_demo">
                        <h5>{{ chess_row.subtitle }}</h5>
                        <h3>{{ chess_row.headline }}</h3>
                        <p>{{ chess_row.text }}</p>
                        <a href="{{ chess_row.linked_image.link_url }}" class="btn_3">{{ chess_row.linked_image.link_title }} <span class="flaticon-slim-right"></span> </a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock paragraph %}
