{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'col-lg-12',
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>
  <nav class="navbar navbar-expand-lg navbar-light">
    {{ content }}
  </nav>
</div>
{% endif %}
