{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <!-- breadcrumb start-->
  <section{{ attributes.addClass(['breadcrumb_wrapper breadcrumb_bg']) }}>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner text-center">
            <div class="breadcrumb_iner_item">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb end-->
{% endif %}
