{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{#{{ devel_breakpoint() }}#}
{% if content %}
  <div{{ attributes.addClass(['row justify-content-between']) }}>
    <div class="col-sm-6 col-md-6 col-xl-3">
      {{ region_elements[0] }}
    </div>
    <div class="col-sm-6 col-md-6 col-xl-4">
      {{ region_elements[1] }}
    </div>
    <div class="col-sm-12 col-md-8 col-xl-3">
      {{ region_elements[2] }}
    </div>
  </div>
{% endif %}
