{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div{{ attributes }}>
  <div class="row align-items-center">
    {% if is_ood_index %}
      <div class="col-lg-6 col-md-6">
        <div class="demo_img">
          {{ content.image }}
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_work_demo">
          <h5>{{ 'Made By CatTask'|t }}</h5>
          {{ title_prefix }}
          {% if name and not page %}
            <h3>{{ name }}</h3>
          {% endif %}
          {{ title_suffix }}
          {{ content.description }}
          <a href="{{ url }}" class="btn_3">{{ 'View Catalogs'|t }} <span class="flaticon-slim-right"></span> </a>
        </div>
      </div>
    {% else %}
      <div class="offset-lg-1 col-lg-4 col-md-6">
        <div class="single_work_demo">
          <h5>{{ 'Made By CatTask'|t }}</h5>
          {{ title_prefix }}
          {% if name and not page %}
            <h3>{{ name }}</h3>
          {% endif %}
          {{ title_suffix }}
          {{ content.description }}
          <a href="{{ url }}" class="btn_3">{{ 'View Catalogs'|t }} <span class="flaticon-slim-right"></span> </a>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-6 col-md-6">
        <div class="demo_img">
          {{ content.image }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
