{% set linkAttributes = link['attributes'] %}
{% if ( link['url'] is defined and link['url'] is not empty ) %}
  {% set tag = "a" %}
  {% set href = " href='#{ link['url'] }'" %}
  {% set linkAttributes = linkAttributes.addClass('nav-link') %}
{% else  %}
  {% set tag = 'span' %}
  {% set href = '' %}
  {% set linkAttributes = linkAttributes.addClass('tb-megamenu-no-link nav-no-link').setAttribute('tabindex', '0') %}
{% endif %}

{% if submenu is empty %}
  {% set linkAttributes = linkAttributes.addClass('tb-megamenu-no-submenu') %}
{% endif %}

<li {{ attributes.addClass(['nav-item']) }} >
  <{{ tag }}{{ href|raw }} {{ linkAttributes }}>
    {% if  item_config['xicon'] %}
      <i class="{{ item_config['xicon'] }}"></i>
    {% endif %}
    {{ link.title_translate|t }}
    {% if submenu and block_config['auto-arrow'] %}
      <span class="caret"></span>
    {% endif %}
    {% if item_config['caption'] %}
      <span class="mega-caption"> {{ item_config['caption']|t }}</span>
    {% endif %}
  </{{ tag }}>
  {{ submenu }}
</li>
