{#
/**
 * @file
 * Theme override to display a list of summary lines.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   Each row contains:
 *   - url: The summary link URL.
 *   - link: The summary link text.
 *   - count: The number of items under this grouping.
 *   - attributes: HTML attributes to apply to each row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how the summary should be displayed.
 *   This contains:
 *   - count: A flag indicating whether the count should be displayed.
 *
 * @see template_preprocess_views_view_summary()
 */
#}
<ul class="list cat-list">
  {% for row in rows %}
    <li>
      <a href="{{ row.url }}"{{ row.attributes.addClass(['d-flex']).addClass(row.active ? 'is-active')|without('href') }}>
        <p>{{ row.link }}</p>
        {% if options.count %}
          <p>({{ row.count }})</p>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
